.main-nav {
  display: flex;
  position: fixed;
  top:0;
  left: 0;
  right: 0px;
  z-index: 3;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid $light-gray;
  background-color: white;
}

.left-nav > ul,
.right-nav > ul {
  display:flex;
  align-items: center;
  justify-content: center;
}

.left-nav {

  > ul {
    > li {
      font-family: $sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      padding: 10px;
      margin: 3px;

    }
  }

  span {
    margin: 3px;
  }
}

.right-nav  {

  > ul {

    > li {
      font-family: $sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      margin: 3px;
    }

    > li:last-of-type {
      transition: background-color 0.3s;
      position:relative;
    }
  }
  
  i {
    padding: 8px;
    font-size: 20px;
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $light-gray;
}


@media (max-width: 1000px) {
	.right-nav > ul > li:not(:last-child){
	  display: none;
	}
  .left-nav {
    margin: 0px;
    padding: 0px;
  }
}